<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CCSL-GIT</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/one-page-wonder.min.css" rel="stylesheet">

    <!--Vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    

  </head>

  <body>

    <div id="app">
        <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
            <h1 class="masthead-heading mb-0">Tutorial Git-Github</h1>
            <h2 class="masthead-subheading mb-0">CCSL-UFPA </h2>
            <h3 class="masthead-subheading mb-0">ICEN UFPA, LAB1 11.10.2018 </h3>
            <a href="#contrib" class="btn btn-primary btn-xl rounded-pill mt-5">Contribuições</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
        </header>

        <section>
        <div class="container">
            <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5 text-center">
                <img class="img-fluid" src="img/Git-Icon-1788C.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                <h2 class="display-4">Git</h2>
                <p>Git é o sistema de controle de versão de arquivos mais utilizado no mundo. Através deles podemos desenvolver projetos na qual diversas pessoas podem contribuir simultaneamente no mesmo, editando e criando novos arquivos e permitindo que os mesmos possam existir sem o risco de suas alterações serem sobrescritas.</p>
                </div>
            </div>
            </div>
        </div>
        </section>

        <section>
        <div class="container">
            <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                <img class="img-fluid" src="img/Octocat.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                <h2 class="display-4">GitHub</h2>
                <p>
                    GitHub é uma plataforma de hospedagem de código-fonte com controle de versão usando o Git. 
                    Ele permite que programadores, utilitários ou qualquer usuário cadastrado na plataforma contribuam em projetos privados e/ou Open Source de qualquer lugar do mundo. 
                    GitHub é amplamente utilizado por programadores para divulgação de seus trabalhos ou para que outros programadores contribuam com o projeto, além de promover fácil comunicação através de recursos que relatam problemas ou mesclam repositórios remotos (issues, pull request).
                </p>
                </div>
            </div>
            </div>
        </div>
        </section>

        <section>
        <div class="container">
            <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                <img class="img-fluid rounded" src="img/hacktoberfest-2018.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                <h2 class="display-4">Hacktoberfest</h2>
                <p>
                    A Hacktoberfest é uma iniciativa da Digital Ocean, GitHub e Twilio para celebrar softwares de código aberto e ocorre durante todo o mês de outubro.
                    Com o intuito de incentivar a comunidade de desenvolvedores do mundo todo a contribuir com projetos de software aberto.
                    </p>
                </div>
            </div>
            </div>
        </div>
        </section>
        <section>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 order-lg-1">
                            <div class="p-5 text-center">
                                <h2 class="display-4">Palestrantes</h2>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <section>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <img class="img-fluid rounded" height="460px" width="460px" src="https://github.com/lubien.png" alt="imagem conta palestrante joao de deus">
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5">
                            <h2 class=display-4> Joao de deus</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 order-lg-2">
                            <div class="p-5">
                                <img class="img-fluid rounded" height="460px" width="460px" src="https://github.com/urielfcampos.png" alt="imagem conta palestrante uriel campos">
                            </div>
                        </div>
                        <div class="col-lg-6 order-lg-1">
                            <div class="p-5">
                                <h2 class=display-4>Uriel Campos</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        <section>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <img class="img-fluid rounded" height="460px" width="460px" src="https://github.com/souzaluuk.png" alt="imagem conta palestrante lucas souza">
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5">
                            <h2 class=display-4>Lucas Souza</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
                <div class="container">
                <div class="row align-items-center">
                        <div class="col-lg-12 order-lg-1">
                            <div class="p-5">
                                <h2 id="contrib" class="display-4 text-center">Contribuições</h2>
                            </div>
                        </div>
                            <contrib-card v-for="contrib in contribs"
                                        :key="contrib.username"
                                        v-bind:contrib="contrib">
                            </contrib-card>
                    </div>
                </div>
                
                </div>
        </section>

        <!-- Footer -->
        <footer class="py-5 bg-black">
        <div class="container">
            <p class="m-0 text-center text-white small">Copyright &copy; CCSL-UFPA 2018</p>
        </div>
        <!-- /.container -->
        </footer>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]]; // eslint-disable-line no-param-reassign
                }
            }
        var users = `<%- JSON.stringify(users)%>`
        users = JSON.parse(users)
        shuffleArray(users)
        
    </script>
    <script src="main.js"></script>

  </body>

</html>
